*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  box-sizing: border-box;
  background: var(--slate-100);
  display: grid;
  place-items: center;
  height: 100vh;
}
