// @font-face {
//   font-family: "Plus Jakarta Sans";
//   font-display: swap;
//   font-weight: 500, 700;
//   src:
//     url('../fonts/static/PlusJakartaSans-Medium.ttf'), url('../fonts/static/PlusJakartaSans-Bold.ttf'),
//     url('../fonts/PlusJakartaSans-VariableFont_wght.ttf'), url("../fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf") format("truetype");
// }

body {
  font-family: var(--ff);
  color: var(--slate-500);
}

::selection {
  background-color: var(--slate-100);
  color: var(--slate-500);
}

.text {
  color: currentColor;

  &--error {
    color: var(--red-100);
  }

  &--xl {
    font-size: 5.6rem;
  }

  &--lg {
    font-size: 2.4rem;
  }

  &--md {
    font-size: 1.8rem;
  }

  &--xl,
  &--lg,
  &--md {
    font-weight: var(--fw-bold);
    line-height: 125%;
    letter-spacing: .0435px;
  }

  &--sm {
    font-size: 1.6rem;
  }

  &--xs {
    font-size: 1.4rem;
  }

  &--sm,
  &--xs {
    line-height: 150%;
    font-weight: var(--fw-medium);
  }
}
