:root {
  /********  COLORS  ********/
  --lime-100: #d8db2f;
  --lime-200: rgba(216, 219, 47, .15);

  --slate-50: rgb(154, 190, 213, .25);
  --slate-100: #e4f4fd;
  --slate-200: #9abed5;
  --slate-300: #6b94a8;
  --slate-400: #4e6e7e;
  --slate-500: #133041;
  --slate-600: rgb(19, 48, 65, .1);

  --white-100: #fff;

  --black-100: rgba(0, 0, 0, .25);

  --red-100: #d73328;

  /********  TYPOGRAPHY  ********/
  --ff: "Plus Jakarta Sans", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;

  /********  SPACING  ********/
  --spacing-100: 8px;
  --spacing-150: 1.2rem;
  --spacing-200: 1.6rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
}
