@use "../../../../public/scss/query-mixin" as mixin;

:host {
  background: var(--slate-500);
  border-radius: 0 0 0 8rem;
  overflow-x: hidden;

  @include mixin.respond(tablet) {
    border-radius: 0;
  }

  .text--lg {
    color: var(--white-100);
  }

  .text--sm {
    color: var(--slate-200);
  }

  .empty {
    height: 100%;
    padding: var(--spacing-500);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-200);
    text-align: center;

    @include mixin.respond(phone) {
      padding: var(--spacing-400) var(--spacing-300);
    }
  }

  .data {
    padding: var(--spacing-500);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);

    @include mixin.respond(phone) {
      padding: var(--spacing-400) var(--spacing-300);
      gap: var(--spacing-300);
    }

    &__heading {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-200);
    }

    &__card {
      padding: var(--spacing-400);
      background: var(--black-100);
      border-radius: 8px;
      box-shadow: inset 0 4px 0 0 var(--lime-100);

      @include mixin.respond(phone) {
        padding: var(--spacing-300) var(--spacing-200);
      }
    }

    &__monthly,
    &__total {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-100);
    }

    &__monthly {
      padding-bottom: var(--spacing-400);
      border-bottom: 1px solid var(--slate-50);

      @include mixin.respond(phone) {
        padding-bottom: var(--spacing-200);

        .text--xl {
          font-size: 4rem;
        }
      }

      .text--xl {
        color: var(--lime-100);
      }
    }

    &__total {
      padding-top: var(--spacing-400);

      @include mixin.respond(phone) {
        padding-top: var(--spacing-200);
      }
    }
  }
}
