.btn {
  font-family: inherit;
  padding: var(--spacing-200) var(--spacing-500);
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all .4s;

  &--primary {
    justify-self: start;
    background: transparent;
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
    border-radius: 1000px;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: var(--lime-100);
      border-radius: 1000px;
      transition: all .4s;
    }

    &:hover,
    &:focus {
      &::after {
        opacity: .5;
      }
    }
  }

  &--link {
    background: transparent;
    color: var(--slate-400);
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      inset: auto 0 1.5px 0;
      height: 1px;
      background: currentColor;
    }

    &:hover,
    &:focus {
      color: var(--slate-500);
    }
  }
}
