:host.btn {
  font-family: inherit;
  display: inline-block;
  cursor: pointer;
  padding: var(--spacing-200) var(--spacing-500);
  outline: 0 none;
  border: 0 none;
  transition: all .4s;
  position: relative;

  &--primary {
    justify-self: start;
    background: var(--lime-100);
    display: flex;
    align-items: center;
    gap: var(--spacing-150);
    border-radius: 1000px;

    &::after {
      content: "";
      z-index: 1;
      position: absolute;
      inset: 0;
      transition: background .4s;
    }

    &:hover::after {
      background: rgba(255, 255, 255, .5);
    }
  }

  &--link {
    background: transparent;
    padding: 0;
    color: var(--slate-300);

    &::after {
      content: "";
      position: absolute;
      inset: auto 0 0 0;
      height: 1px;
      background: currentColor;
    }

    &:hover {
      color: var(--slate-500);
    }
  }
}